@import url(style-responsive-phone.css);
@import url(style-class.css);

body{
    background: #34495E;
    font-family: 'Montserrat', sans-serif;
    color: #F7F9F9 ;
}

header{
    width: 100%;
    height: 10vh;
    text-align: center;
}

main{
    display:flex;
    width: 100%;
    height: 80vh;
    background-color: #34495E;
}

fieldset{ 
    text-align: center;
}

footer{ 
    display: block;
    text-align: center;
    width: 100%;
    height: 10vh;    
}


figcaption{ 
    color: #34495E;
    font-size: 25px;
    font-weight: bold;
}


@media screen and (max-width:1200px){
    body{
        height: 100vh;
    }
    header{
        height: 10vh;
    }
    main{
        display: block;
        height: 85vh;
    }
    .text-box{
        width: 100%;
        height: 60vh;
        margin: 0;
    }
    .text-container{
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .title-text{
        margin: 0 0 0 30px;
        font-size: 12px;
        display: block;
    }

    .advertencia{
        display: inline-block;
        align-items: center;
    }

    .text-encrydescry--box{
        width: 90%;
        height: 70%;
        font-size: 25px;
    }

    fielset{ 
        margin: 0  auto;
        width: 100%;
        height: 200px;
    }

    .botton{
        width: 250px;
        margin-bottom: 15px;
        border-radius: 30px;
    }

    .botton-copie{
       display: block;
       margin: 30px auto 0 ;
    }
    
    .encrypterdecryptor{
        height:100px;
    }
    .encrypterdecryptor-box{ 
        width: 100%;
        height: 30vh;
        margin-top: 0px;
    }

    .encrypterdecryptor-container{
        margin: 0px auto;
        width: 80%;
        height: 80%;
    }

    .munheca{
        display: none;
        margin: 0;
        visibility: hidden;
        opacity: 0%;
    }

    figcaption{
        padding-top: 12%;
        color: #34495E;
    }

    footer{
        height: 5vh;
    }
}


@media screen and (max-width:900px) {
    header{
        height: 10vh;
    }
    main{
        display: block;
        height: auto;
    }
    .text-box{
        width: 100%;
        height: 60%;
        margin: 0;
    }
    .text-container{
        width: 100%;
        margin: 0;
    }
    .title-text{
        margin: 0 0 0 30px;
        font-size: 12px;
        display: block;
    }

    .advertencia{
        display: inline-block;
        align-items: center;
    }

    .text-encrydescry--box{
        width: 80%;
        height: 40%;
        font-size: 25px;
    }

    fielset{ 
        margin: 0  auto;
        width: 100%;
        height: 200px;
    }

    .botton{
        width: 85%;
        margin-bottom: 15px;
        border-radius: 30px;
    }

    .botton-copie{
       margin: 30px auto 10px;
    }
    
    .encrypterdecryptor{
        width: 80%;
        height: 500px;
        
    }
    .encrypterdecryptor-box{ 
        margin: 0 auto;
        width: 90%;
        height: auto;
        margin-top: 0px;
    }

    #encrypterdecryptor-container{
        margin: 30px auto;
        width: auto;
        height: 150px;
    }

    .munheca{
        display: none;
        margin: 0;
        visibility: hidden;
        opacity: 0%;
    }

    figcaption{
        
        padding: 30px 0 0;
        color: #34495E;
    }

    footer{
        display: block;

    }

}